* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.6rem;
}

main {
  width: 100vw;
  margin: 0 auto;
}

#hero {
  margin: 0 auto 7.2rem;
  width: 100%;
}

#hero img {
  margin-bottom: 7.2rem;
  width: 100%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 4.9rem;
  line-height: 5.6rem;
  font-weight: normal;
  margin-bottom: 3.2rem;
}

h1 span {
  font-weight: bold;
}

:is(span, a) {
  color: #FF9900;
}

p, #footer {
  color: #7D7987;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

#footer {
  margin-bottom: 3.3rem;
}

.line {
  width: 100%;
  border: 0.1rem solid #ECEFF2;
  margin: 0 auto 0.8rem;
}

#footer a + a {
  margin-left: 2.8rem;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (max-width: 425px) {
  #hero {
    margin-bottom: 2rem;
  }
  
  p {
    text-align: justify;
    padding: 1rem;
  }

  #balls {
    width: 5rem;
    height: 5rem;
  }
}